.header-container {
    font-size: calc(1.1rem + .12vw) !important;
    font-weight: bold !important;
}

.header-description {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #99A1B7;
}

.custom-btn {
    background-color: #F1F1F4 !important;
    color: #333;
    font-size: 14.5px;
    font-weight: 600;
}

.custom-btn-act {
    background-color: #1B84FF !important;
    color: #fff;
    font-size: 14.5px;
    font-weight: 600;
    border: none;
}

.custom-btn-excel {
    background-color: #17c653;
    color: #fff;
    font-size: 14.5px;
    font-weight: 600;
}

.color-search {
    color: #1B84FF;
}

th {
    white-space: nowrap;
}

.browser-default {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

:host ::ng-deep .w-max {
    width: 100%;
    display: block;
}

:host ::ng-deep .w-max button {
    width: 100%;
}

.detail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.detail-row {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.detail-label {
    flex: 0 0 250px;
}

.detail-value {
    flex: 1;
}