<div class="container mt-5" *ngIf="authService.hasPermission('mgmt.activity')">
    <p class="header-container me-2">Nhật ký kiểm tra</p>
    <p-panel styleClass="mt-3 mb-5">
        <div class="mt-4 mb-4 d-flex justify-content-between">
            <p-button label="Làm tươi" icon="bi bi-arrow-repeat" severity="info" (click)="refreshData()"></p-button>

            <p-button label="Tìm kiếm" icon="bi bi-search" severity="info" (click)="searchActivityLogs()"></p-button>
        </div>

        <div class="d-flex justify-content-center gap-2">
            <div class="w-50">
                <div class="flex-auto">
                    <label class="font-bold block mb-2">Phạm vi ngày</label>
                    <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" styleClass="w-100"
                        inputStyleClass="w-100" [readonlyInput]="true" />
                </div>

            </div>
            <div class="w-50">
                <div class="flex-auto">
                    <label class="font-bold block mb-2">Tên truy cập</label>
                    <input pInputText class="w-100" type="search" [(ngModel)]="username" />
                </div>
            </div>
        </div>
        <div *ngIf="showAdvancedFilter">
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="flex-auto">
                        <label class="font-bold block mb-2">Dịch vụ</label>
                        <input pInputText class="w-100" type="text" [(ngModel)]="serviceName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flex-auto">
                        <label class="font-bold block mb-2">Hoạt động</label>
                        <input pInputText class="w-100" type="text" [(ngModel)]="activity" />
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="flex-auto">
                        <label class="font-bold block mb-2">Trình duyệt</label>
                        <input pInputText class="w-100" type="text" [(ngModel)]="browser" />
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-link mt-3 text-secondary" (click)="toggleAdvancedFilter()">
            {{ showAdvancedFilter ? 'Ẩn bộ lọc nâng cao' : 'Hiển thị bộ lọc nâng cao' }}
        </button>

        <div class="card mt-2">
            <p-table [value]="activityLogs" [paginator]="true" [rows]="pageSize" [first]="(pageNumber - 1) * pageSize"
                [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="onPageChange($event)"
                [rowsPerPageOptions]="[5, 10, 25, 50, 100, 250, 500]">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Tên truy cập</th>
                        <th>Dịch vụ</th>
                        <th>Hoạt động</th>
                        <th>Khoảng thời gian</th>
                        <th>Khách hàng</th>
                        <th>Trình duyệt</th>
                        <th>Thời gian</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-activityLog>
                    <tr>
                        <td>
                            <p-button icon="pi pi-search" [rounded]="true" (click)="showDialog(activityLog)"
                                severity="info" />
                        </td>
                        <td>
                            <i class="fa" [class.fa-check-circle]="activityLog.isError"
                                [class.fa-times-circle]="!activityLog.isError"
                                [class.text-success]="activityLog.isError" [class.text-danger]="!activityLog.isError">
                            </i>
                        </td>
                        <td>{{activityLog.username}}</td>
                        <td>{{activityLog.serviceName}}</td>
                        <td>{{activityLog.activity}}</td>
                        <td>{{activityLog.executionTime}} ms</td>
                        <td>{{activityLog.ipAddress}}</td>
                        <td class="browser-default">{{activityLog.browser}}</td>
                        <td>{{ activityLog.createdAt | date:'HH:mm:ss dd/M/yyyy' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <div class="flex align-items-center justify-content-between w-full">
                        <span>Page {{pageNumber}} of {{totalPages}}</span>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
    <p-dialog header="Chi tiết nhật ký kiểm tra" [(visible)]="visible" [modal]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">
        <p style="font-size: 1.1rem; font-weight: 600;" class="mt-3">Thông tin người dùng</p>
        <div class="detail-container">
            <div class="detail-row">
                <div class="detail-label">Tên truy cập:</div>
                <div class="detail-value">{{selectedActivityLog.username}}</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">Địa chỉ IP:</div>
                <div class="detail-value">{{selectedActivityLog.ipAddress}}</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">Khách hàng:</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">Trình duyệt:</div>
                <div class="detail-value">{{selectedActivityLog.browser}}</div>
            </div>
        </div>
        <p style="font-size: 1.1rem; font-weight: 600;" class="mt-5">Thông tin hành động</p>
        <div class="detail-container">
            <div class="detail-row">
                <div class="detail-label">Dịch vụ:</div>
                <div class="detail-value">{{selectedActivityLog.serviceName}}</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">Hoạt động</div>
                <div class="detail-value">{{selectedActivityLog.activity}}</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">Thời gian:</div>
                <div class="detail-value">{{selectedActivityLog.createdAt}}</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">Khoảng thời gian:</div>
                <div class="detail-value">{{selectedActivityLog.executionTime}} ms</div>
            </div>
        </div>
        <p style="font-size: 1.1rem; font-weight: 600;" class="mt-5">Trạng thái lỗi</p>
        <i class="fa" [class.fa-check-circle]="selectedActivityLog.isError"
            [class.fa-times-circle]="!selectedActivityLog.isError" [class.text-success]="selectedActivityLog.isError"
            [class.text-danger]="!selectedActivityLog.isError">
        </i>
        <span>
            {{ selectedActivityLog.isError ? 'Thành công' : 'Không thành công' }}
        </span>
    </p-dialog>
</div>