<p-toolbar [style]="{'padding': '1rem 1rem 1rem 1.5rem' }">
    <ng-template #start>
    </ng-template>
    <ng-template #end>
        <div class="d-flex align-items-center gap-2">
            <p-avatar #avatar [image]="avatarImage" shape="circle" size="xlarge"
                [style]="{ width: '50px', height: '50px', marginLeft: '1rem', objectFit: 'cover' }" class="me-2"
                id="userDropdown" role="button" data-bs-toggle="dropdown">
            </p-avatar>

            <ul class="dropdown-menu dropdown-menu-end me-3">
                <li class="nav-item dropdown d-flex align-items-center ">
                    <img [src]="previewImageUrl || defaultImageUrl"
                        style="width: 40px; height: 40px; border-radius: 20%; margin-left: 1rem; object-fit: cover;"
                        class="me-2" alt="" />
                    <div class="user-info">
                        <span style="white-space: nowrap; margin-right: 20px;"><strong>{{firstName}}
                                {{lastName}}</strong></span>
                        <small class="d-block text-muted">{{ roleName }}</small>
                    </div>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><button class="dropdown-item" (click)="showDialog()">Đổi
                        mật khẩu</button></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><button class="dropdown-item" (click)="logout()">Đăng xuất</button></li>
            </ul>
        </div>

    </ng-template>
</p-toolbar>

<p-dialog header="Đổi mật khẩu" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '35vw', borderRadius: '10px' }"
    [draggable]="false" [resizable]="false">

    <div class="w-100 px-4">
        <form class="space-y-4">
            <form-input label="Mật khẩu hiện tại" [(value)]="currentPassword" [error]="errors.currentPassword!"
                isInput="label-password" />
            <form-input label="Mật khẩu mới" [(value)]="newPassword" [error]="errors.newPassword!"
                isInput="label-password" />
            <form-input label="Nhập lại mật khẩu" [(value)]="confirmPassword" [error]="errors.confirmPassword!"
                isInput="label-password" />
        </form>
    </div>

    <div class="d-flex justify-content-end mt-5 px-4 mb-3">
        <p-button [label]="'Hủy bỏ'" icon="pi pi-times" severity="secondary" data-bs-dismiss="modal"
            class="w-1/3 p-button-rounded me-2" />
        <p-button (click)="changePassword()" [label]="'Lưu thông tin'" [disabled]="isSubmitting" icon="pi pi-save"
            severity="info" class="w-1/3 p-button-rounded" />
    </div>
</p-dialog>