<p-toolbar [style]="{'padding': '1rem 1rem 1rem 1.5rem' }" class="custom-toolbar">
    <ng-template #start>
    </ng-template>
    <ng-template #end>
        <div (click)="toggleTheme()">
            <i class="pi" [ngClass]="isDarkMode ? 'pi-sun' : 'pi-moon'"></i>
        </div>

        <div class="d-flex align-items-center gap-2">
            <p-avatar #avatar [image]="avatarImage" shape="circle" size="xlarge"
                [style]="{ width: '50px', height: '50px', marginLeft: '1rem', objectFit: 'cover' }" class="me-2"
                id="userDropdown" role="button" data-bs-toggle="dropdown">
            </p-avatar>

            <ul class="dropdown-menu dropdown-menu-end me-3">
                <li class="nav-item dropdown d-flex align-items-center ">
                    <img [src]="previewImageUrl || defaultImageUrl"
                        style="width: 40px; height: 40px; border-radius: 20%; margin-left: 1rem; object-fit: cover;"
                        class="me-2" alt="" />
                    <div class="user-info">
                        <span style="white-space: nowrap; margin-right: 20px;"><strong>{{firstName}}
                                {{lastName}}</strong></span>
                        <small class="d-block text-muted">{{ roleName }}</small>
                    </div>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><button class="dropdown-item" (click)="showProfile()">Thông tin cá nhân</button></li>
                <li>
                <li><button class="dropdown-item" (click)="showDialog()">Đổi mật khẩu</button></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><button class="dropdown-item" (click)="logout()">Đăng xuất</button></li>
            </ul>
        </div>

    </ng-template>
</p-toolbar>

<p-dialog header="Đổi mật khẩu" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '35vw', borderRadius: '10px' }"
    [draggable]="false" [resizable]="false">
    <change-password (cancel)="this.visible = false"></change-password>
</p-dialog>

<p-dialog header="Thông tin cá nhân" [(visible)]="isProfile" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw', borderRadius: '10px' }"
    [draggable]="false" [resizable]="false">
    <profile (updateSuccess)="onProfileUpdateSuccess()" (cancel)="this.isProfile = false"></profile>
</p-dialog>