<account-form [headerTitle]="'Đăng nhập'">
  <form-input placeholder="Email" [(value)]="email" [error]="errors.email!" isInput="no-label" />
  <form-input placeholder="Mật khẩu" [(value)]="password" [error]="errors.password!" type="password"
    isInput="no-label-password" />

  <button (click)="login()" class="btn btn-primary w-100 mt-3 py-2 fs-6 fw-bold">
    Đăng nhập
  </button>
  <div>
    <div class="mt-3">
      Not a member yet?
    </div>
    <a href="account/register" class="text-decoration-none" *ngIf="selfRegister">Tạo tài khoản</a> |
    <a href="account/email-validation" class="text-decoration-none">Kích hoạt email</a>
  </div>
</account-form>