.header-container {
    font-size: calc(1.1rem + .12vw) !important;
    font-weight: bold !important;
}

.header-description {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #99A1B7;
}

/* Match original color scheme if needed */
.custom-header {
    font-weight: bold;
    font-size: 1.2rem;
}

:host ::ng-deep .w-max {
    width: 100%;
    display: block;
}

:host ::ng-deep .w-max button {
    width: 100%;
}


.table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

:host ::ng-deep .p-datatable-table th,
:host ::ng-deep .p-datatable-table td {
    white-space: nowrap;
}

:host ::ng-deep .custom-avatar-fit img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

/* Tùy chỉnh menu items */
:host ::ng-deep .p-menu .p-menuitem-link {
    padding: 0.75rem 1rem;
}

.excel-operations-container {
    display: inline-block;
}