<account-form [headerTitle]="'Thay đổi mật khẩu'">
    <form-input placeholder="Mật khẩu" [(value)]="password" isInput="no-label" [error]="errors.password!"
        type="password" />
    <form-input placeholder="Nhập lại mật khẩu" [(value)]="confirmPassword" isInput="no-label"
        [error]="errors.confirmPassword!" type="password" />
    <re-captcha  #captchaRef siteKey="6LdSNCwrAAAAAHEIqV1izQYp74bOx41VAiyFsaPV"
        (resolved)="onCaptchaResolved($event)" class="mt-3 mb-3 d-block"></re-captcha>
    <form-button (backClick)="goToLogin()" (submitClick)="createNewPassword()" />
</account-form>