.d-flex {
    display: flex;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    height: 100%;
    transition: width 0.3s;
}

.collapsed .sidebar {
    width: 80px;
}

.collapsed .sidebar h5,
.collapsed .nav-link {
    display: none;
}