.d-flex {
    display: flex;
}

.sidebar {
    width: 280px;
    min-height: 100vh;
    height: 100%;
    transition: width 0.3s;
    position: relative;

    background: var(--sidebar-bg);
    background-size: 300% 300%;
    background-repeat: no-repeat;
    animation: var(--sidebar-animation, gradientScroll 20s ease-in-out infinite);
}

.dark-theme .sidebar {
    background: #121212 !important;
    animation: none;
}

@keyframes gradientScroll {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



.collapsed .sidebar {
    width: 80px;
}

.sidebar .toggle-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 4%;
    left: 85%;
    transform: translateY(-50%);
    z-index: 100;
}

.collapsed .sidebar .nav-link span,
.collapsed .sidebar .nav-link i.bi-chevron-down,
.collapsed .sidebar .nav-link i.bi-chevron-up {
    display: none;
}

.collapsed .sidebar .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
}

.collapsed .sidebar .bi {
    font-size: 1.25rem;
    margin: 0 !important;
}

/* Xóa margin cho submenu */
.collapsed .sidebar ul.ms-3 {
    margin-left: 0 !important;
    padding-left: 0;
}

.collapsed .sidebar .nav-link div {
    display: flex;
    justify-content: center;
    width: 100%;
}