<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="authService.hasPermission('mgmt.user.edit')">
    <div style="width: 60vw; max-width: 1000px; background-color: #fff; padding: 30px;">
        <h5 style="font-size: 1.3rem;">Cập nhật thông tin {{ username }}</h5>
        <p-tabs [(value)]="activeTab">
            <p-tablist>
                <p-tab value="0" class="custom-bold-tab">Thông tin người dùng</p-tab>
                <p-tab value="1" class="custom-bold-tab">Vai trò</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">

                    <div class="mt-3 row">
                        <div class="col-md-3 mt-2">
                            <label for="password" style="font-weight: 500;">Ảnh đại diện</label>
                        </div>
                        <div class="col-md-9">
                            <div style="width: 100%; max-width: 130px; aspect-ratio: 1; border-radius: 10%; cursor: pointer; background-color: #f9f9f6; display: flex; align-items: center; justify-content: center; position: relative;"
                                (click)="onImageClick()">
                                <ng-container *ngIf="previewImageUrl else placeholder">
                                    <img [src]="previewImageUrl || placeholder"
                                        style="width: 100%; height: 100%; border-radius: 10%; object-fit: cover;"
                                        alt="profile image" />
                                </ng-container>

                                <ng-template #placeholder>
                                    <span style="font-size: 2rem; color: #000;">+</span>
                                </ng-template>
                            </div>

                            <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />

                            <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />
                        </div>
                        <div class="col-md-3 mt-2"></div>
                        <div class="col-md-9 mt-2">
                            <i class="text-muted" style="font-size: 13px;">
                                *Dung lượng ảnh tối đa khuyến nghị: 5MB
                            </i>
                        </div>

                    </div>
                    <form-input label="Họ" placeholder="Nhập họ" [(value)]="firstName" [error]="errors.firstName!"
                        isInput="col" [required]="true" requiredTooltip="Họ phải tối thiểu 2 - 50 ký tự" />
                    <form-input label="Tên" placeholder="Nhập tên" [(value)]="lastName" [error]="errors.lastName!"
                        isInput="col" [required]="true" requiredTooltip="Tên phải tối thiểu 2 - 50 ký tự" />
                    <form-input label="Địa chỉ Email" placeholder="Nhập địa chỉ email" [(value)]="email"
                        [error]="errors.email!" isInput="col" type="email" [disabled]="true" />
                    <form-input label="Số điện thoại" placeholder="Nhập số điện thoại" [(value)]="phoneNumber"
                        [error]="errors.phone!" isInput="col" type="phoneNumber" [required]="true" />
                    <form-input label="Tên truy cập" placeholder="Nhập tên truy cập" [disabled]="true"
                        [(value)]="username" [error]="errors.username!" isInput="col" />



                    <div class="d-flex items-center gap-2 mt-5">
                        <p-checkbox [(ngModel)]="isAction" inputId="isAction" binary="true" />
                        <label for="isAction">Kích hoạt</label>
                    </div>
                    <div class="d-flex items-center gap-2 mt-2" *ngIf="!(verifyToken && isSendEmail)">
                        <p-checkbox [(ngModel)]="isSendEmail" inputId="isSendEmail" binary="true" />
                        <label for="isSendEmail">Gửi email kích hoạt.</label>
                    </div>
                    <div class="d-flex items-center gap-2 mt-2">
                        <p-checkbox [(ngModel)]="isLockedOut" inputId="isLockedOut" binary="true" />
                        <label for="isLockedOut">Khóa tài khoản</label>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                        {{ errorMessage }}
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <div class="row g-3 mt-2">
                        <div *ngFor="let role of rolesSelect"
                            class="col-sm-12 col-md-4 d-flex align-items-center gap-2 mt-3">
                            <p-checkbox [(ngModel)]="role.isSelected" binary="true" [inputId]="'role-' + role.id"
                                (ngModelChange)="onRoleChange()">
                            </p-checkbox>
                            <label [htmlFor]="'role-' + role.id" class="role-label-text">
                                {{ role.name }}
                            </label>
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                        {{ errorMessage }}
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>

        <div class="d-flex justify-content-end gap-2 mt-5">
            <p-button [label]="'Hủy bỏ'" icon="pi pi-times" severity="secondary" (click)="cancel()" />
            <p-button (click)="updateUser()" [label]="isSubmitting ? 'Đang xử lý...' : 'Lưu thông tin'"
                [disabled]="isSubmitting" icon="pi pi-save" severity="success" />
        </div>
    </div>
</div>