.custom-icon {
    font-size: 2rem;
    color: #d1d3e2;
}

.card-header {
    background-color: white;
}

.bg-element-color {
    background-color: var(--element-color);
    color: var(--text-color);
}