<div class="p-4">
    <p-panel styleClass="shadow-0; border-0" *ngIf="authService.hasPermission('mgmt.role')">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="header-container me-2">Vai trò</p>
                <p class="header-description">Sử dụng vai trò để nhóm quyền</p>
            </div>
            <p-button label="Tạo vai trò mới" [raised]="true" icon="pi pi-plus"
                *ngIf="authService.hasPermission('mgmt.user.create')" (onClick)="openCreateModal()"
                styleClass="custom-create-button" />

        </div>

        <div class="mt-3 table-container">
            <p-table [value]="roles" [paginator]="true" [rows]="pageSize" [first]="(pageNumber - 1) * pageSize"
                [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="onPageChange($event)"
                [rowsPerPageOptions]="[5, 10, 25, 50, 100, 250, 500]" styleClass="no-border-table">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">No.</th>
                        <th>Tên vai trò</th>
                        <th class="text-center">Thời gian tạo mới</th>
                        <th class="text-center">Hoạt động</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role let-rowIndex="rowIndex">
                    <tr [ngClass]="{ 'row-light': rowIndex % 2 === 0, 'row-dark': rowIndex % 2 === 1 }">
                        <td class="text-center">
                            {{ (first + rowIndex + 1) }}
                        </td>
                        <td>
                            {{ role.name }}
                            <p-badge *ngIf="role.systemReserve" value="Tĩnh" severity="success" styleClass="ms-3">
                            </p-badge>
                            <span *ngIf="role.status" style="font-size: 0.7rem; font-weight: 600;" class="ms-3">Mặc
                                định</span>
                        </td>
                        <td class="text-center">{{ role.createdAt | date:'HH:mm:ss dd/M/yyyy' }}</td>
                        <td class="text-center">
                            <ng-container *ngIf="!role.systemReserve; else reservedIcon">
                                <i class="pi pi-pencil" (click)="openEditModal(role.id)"
                                    *ngIf="authService.hasPermission('mgmt.role.edit')" style="color: #4aa4d9;"></i>
                                <i class="pi pi-trash" (click)="deleteRole(role.id)"
                                    *ngIf="authService.hasPermission('mgmt.role.delete')"
                                    style="color: #ef3f3e; margin-left: 10px;"></i>
                            </ng-container>

                            <ng-template #reservedIcon>
                                <i class="bi bi-lock-fill"></i>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="11" class="text-center text-muted py-5">
                            <i class="pi pi-info-circle" style="margin-right: 6px;"></i>
                            Không có dữ liệu.
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <div class="flex align-items-center justify-content-between w-full">
                        <span>Page {{pageNumber}} of {{totalPages}}</span>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    *ngIf="isEditMode ? authService.hasPermission('mgmt.role.edit') :  authService.hasPermission('mgmt.role.create') ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1.1rem;">
                    {{ isEditMode ? 'Chỉnh sửa vai trò' : 'Tạo vai trò mới' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p-tabs [(value)]="activeTab">
                    <p-tablist>
                        <p-tab value="0" class="custom-bold-tab">Tên vai trò</p-tab>
                        <p-tab value="1" class="custom-bold-tab">Quyền</p-tab>
                    </p-tablist>
                    <p-tabpanels>
                        <p-tabpanel value="0">
                            <form-input label="Tên vai trò" [(value)]="newRole.name" [error]="errors.name!"
                                [placeholder]="'Nhập tên vai trò'" isInput="label" />
                            <div class="d-flex items-center gap-2 mt-2">
                                <p-checkbox [(ngModel)]="newRole.status" inputId="status" binary="true" />
                                <label for="status">Kích hoạt</label>
                                <p class="mb-0" style="color: #99a187; font-size: 0.9rem;">
                                    (Mặc định gán cho tài khoản được tạo mới)
                                </p>
                            </div>
                            <div style="padding: 10px; border: 1px solid #f6c000; background-color: #fff8dd; color: #f6c215; border-radius: 10px;"
                                class="mt-5 mb-3">
                                <p>{{description}}</p>
                            </div>
                        </p-tabpanel>
                        <p-tabpanel value="1">
                            <div class="card">
                                <permission-tree [permissions]="permissions"
                                    [selectedPermissionIds]="newRole.permissions"
                                    (permissionsChange)="onPermissionsChange($event)">
                                </permission-tree>
                            </div>

                        </p-tabpanel>
                    </p-tabpanels>
                </p-tabs>
            </div>
            <div class="modal-footer">
                <p-button [label]="'Hủy bỏ'" icon="pi pi-times" severity="secondary" data-bs-dismiss="modal" />
                <p-button (click)="saveRole()" [label]="isSubmitting ? 'Đang xử lý...' : 'Lưu thông tin'"
                    [disabled]="isSubmitting" icon="pi pi-save" severity="success" />
            </div>
        </div>
    </div>
</div>